.App-footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.732);
}

.divider {
  background-color: #c7254e;
  height: 4px;
}